#TabsToolbar {
  visibility: collapse;
}

#sidebar-header {
  display: none;
}

#urlbar:not([breakout-extend]) #urlbar-background {
  background: none !important;
  background-color: transparent !important;
}