#TabsToolbar {
  visibility: collapse !important;
}

#sidebar-box {  
  min-width: 1px !important;
}

#urlbar:not([breakout-extend]) #urlbar-background {
  background: none !important;
  background-color: transparent !important;
}
